# Python Beginners Workshop - Day 1

## Block 3 Exercise
This exercise sheet invovles the following topics:
- Python data structures
- Indexing and slicing
- Arithmetic operations

### 1: Data structure

1) check the type of the following:

- 2
- 2.
- "Name"
- (1, 2, 3, 4)
- [1, 2, 3, 4]
- {'A': 1, 'B': 2}
- 10 / 2
- 10 // 2

#### Answer

### 2: Indexing

Using the example dataset scores, select only the described elements from each list:

In [1]:
scores = [0.2, 0.3, 0.9, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 0.0]

1) The third score

2) The last score

3) The 2nd through 5th score

4) Every second score (the first, third, fifth, etc)

5) Every score after the 4th score

6) Every second score from the 2nd to the 8th.

7) Change the 3rd score in the list to a 10

8) Set scores with indecies between 2 and -2 zero (not inclusive)

### 3: Arithmetic Operation

1) Using the arithmetic operations put your first and last name together, with a SPACE in between:

Example:
"Mohammad" and "Bashiri" -> "Mohammad Bashiri"

Please do this in two different ways:
- using arithmetics
- using a method special for string objects (hint: use Tab completion or `dir()` to find out about methods of a String object: `format` or `join`)

#### Answer

In [21]:
"Mohammad" + " " + "Bashiri"

'Mohammad Bashiri'

In [22]:
"{} {}".format("Mohammad", "Bashiri")

'Mohammad Bashiri'

In [23]:
" ".join(["Mohammad", "Bashiri"])

'Mohammad Bashiri'

2) Add the descending version of the following list at the end of it

Example:
[1, 2, 3, 4, 5] -> [1, 2, 3, 4, 5, 4, 3, 2, 1]

In [2]:
my_list = [1, 2, 3, 4, 5]

#### Answer

In [20]:
my_list + my_list[3::-1]

[1, 2, 3, 4, 5, 4, 3, 2, 1]