## Exercise #7

1) What are the indices of "my" in the following string? - print it using positive indices.

In [1]:
a_str = "Here is my name"

In [4]:
a_str[8:10]

'my'

2) What is the negative index of 3 in the followin list?

In [5]:
a_list = [1, 2, 3, 4, 5]

In [6]:
a_list[-3]

3

3) What type of data the following variables are?

In [9]:
a = 4
b = 4.
c = 10

In [95]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

4) Which one of the following objects are mutable? - try replacing their elements with another value (e.g. string or number)

In [96]:
a_str = "Here is my name"
a_list = [1, 2, 3, 4, 5]
a_tuple = (1, 2, 3, 4, 5)

In [97]:
a_str[0] = 'h'

TypeError: 'str' object does not support item assignment

In [98]:
a_list[0] = 1000

In [99]:
a_list

[1000, 2, 3, 4, 5]

In [100]:
a_tuple[0] = 1000

TypeError: 'tuple' object does not support item assignment

---

## Exercise #8
1) Try the following operations, print the resulting values and find out their types.

``` python
10 % 4
10 / 2
10 // 2

[1, 2] + (3, 4)

"hey" * "you!"
"hey" + "you!"
"hey" + " " + "you!"
```

2) What is the difference between the following two lines?
``` python
print("hey" + " " + "you!")
print("hey", "you!")
```

In [15]:
print("hey " + "you!")

hey you!

In [12]:
a = "hey" + " " + "you!"
a

'hey you!'

In [13]:
print(a)

hey you!

In [14]:
a = "hey"
b = "you!"
print(a, b)

hey you!

3) Explore the methods of the list objects, find the method that does the same job as `+`
``` python
>>> my_list1 + my_list2
>>> my_list1.append(my_list2)
```

In [101]:
aa = [1, 2, 3, 4]
bb = [5, 5, 5, 5]

In [102]:
aa + bb

[1, 2, 3, 4, 5, 5, 5, 5]

In [103]:
aa

[1, 2, 3, 4]

In [104]:
bb

[5, 5, 5, 5]

In [105]:
aa.append(bb)

In [106]:
aa

[1, 2, 3, 4, [5, 5, 5, 5]]

In [107]:
bb

[5, 5, 5, 5]

---

## Exercise #9: Loop

1) Create a list with 5 numerical elements, and print one element at the time.

In [108]:
aa = ["element 1", 2, 3, 'element 4', 5]

for a in aa:
    print(a)

element 1
2
3
element 4
5

2) Increase each element of the list in exercise (1) by 2 and save the values in a new list.

In [79]:
aa = [1, 2, 3, 4]

In [82]:
bb = []
for a in aa:
    bb.append(a + 2)

In [83]:
bb

[3, 4, 5, 6]

---

## Exercise #10: `enumerate()` and `zip()`

1) Using the `enumerate()` method, iterate over the elements of the given list, and print the corresponding element as well as the iteration number.

In [110]:
a_list = [1, 2, 3, 4, 5]

for ind, el in enumerate(a_list):
    print(ind, el)

0 1
1 2
2 3
3 4
4 5

2) Create another list, and using the `zip()` method, iterate over both of them, and print their corresponding elements in each iteration.

In [111]:
aa = [1, 2, 3]
bb = [10, 20, 30]

for a, b, in zip(aa, bb):
    print(a, b)

1 10
2 20
3 30

3) Do the same as (2) but this time also use the `enumerate()` method and add the iteration number to the printing.

In [113]:
for ind, (a, b) in enumerate(zip(aa, bb)):
    print(ind, a, b)

0 1 10
1 2 20
2 3 30

4) Create a while loop which counts to 20, and prints the iteration number, and then it breaks out of the loop.

In [117]:
counter = 0
while counter < 21:
    print(counter)
    counter = counter + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20