## Exercise 3.1

## Numpy and Matplotlib

1) Plot the following figure. (replace the **Title** with your name)


<center>
    <img src="../images/fig.png"/>
</center>

2) Save the figure and share it in Slack

## Pandas DataFrame

3) Create a Pandas DataFrame with columns:
- **Name**: name of neighbor
- **Sex**: f/m?
- **from_Germany**: is the neighbor from Germany?
- **MPI**: biochemistry vs biology.. or any other?
- **Age**: age of neighbor
- **Papers_n**: number of papers
- **Coffees_n**: number of coffee you drink per day

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('MPI-info.csv')

In [6]:
df.head()

,name,sex,from_Germany,MPI,age,papers,citations,colleagues,coffees,ranking
0,Paul Wong,Female,True,Biochem,26.719182,11,80,4,0,82
1,Tyler Lopez,Male,False,Neuro,36.479622,15,219,6,7,74
2,Suzanne Miller,Male,False,Neuro,29.250290,14,174,5,5,46
3,Rebecca Russo,Female,False,Neuro,29.037500,7,137,3,0,261
4,Timothy Chapman,Male,True,Biochem,26.946125,9,55,3,7,186

4) what is the type of each column in your DataFrame?

In [8]:
df.dtypes

name             object
sex              object
from_Germany       bool
MPI              object
age             float64
papers            int64
citations         int64
colleagues        int64
coffees           int64
ranking           int64
dtype: object

5) save **`age`** and **`kids_n`** as two separate numpy arrays.

6) Is there any relationship between age and number of kids? - show this with a scatter plot.

7) Save this DataFrame.

---