## Exercise 3.2

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

1) Import the **wine** dataset into your notebook.

In [3]:
df = pd.read_csv('data/wine-rw.csv')

In [4]:
df.head()

,fixed_acidity,volatile_acidity,total_sulfur_dioxide,alcohol,quality,color
0,7.4,0.70,34.0,9.4,5,red
1,7.8,0.88,67.0,9.8,5,red
2,7.8,0.76,54.0,9.8,5,red
3,11.2,0.28,60.0,9.8,6,red
4,7.4,0.70,34.0,9.4,5,red

2) Select the first three columns by labels.

3) Select the last 2 columns by labels.

Note that in previous two exercises, our notion of "first" and "last" depends on the order in which we received the data. If, for some reason, the columns are differently arranged, the answered to the previous two exercises are not valid anymore.

4) Repeat exercise (3) and (4) using indexing.

In [5]:
df.shape

(6497, 6)

5) Set the wine names as the DataFrame index.

6) Select the first wines int the list via numbered indices.

7) Select the first 4 wines in the DataFrame via index values (i.e., the names).

8) Select last five wines, and display the `alcohol`, `quality`, and `color` columns.

9) Create a DataFrame that has all (and only) the **red** wines.

10) Create a DataFrame that has all (and only) the **white** wines.

11) Create a DataFrame that has all the wines (regardless of the color) with quality higher than 6.

12) Sort the DataFrame by wine quality.

13) Create a new column which is the normalized (to 1) version of the `quality` column. Call the column `quality_normed`.

14) Create a list of column that contain numerical values.

15) Plot the histogram of each numerical column on the same axis. <br>
**hint**: `df['col_name'].values`

16) Using the `agg()` method, get the mean all the numerical columns. Name it `means`.

17) Using the `agg()` method, get the standard deviation of all the numerical columns. Name it `stds`.

18) Using the answers found in (15) and (16) subtract the numerical columns by their mean, and divide them by their standard deviation. Store the results in new columns. The names for the new columns are similar the the existing numerical columns with and addition of `_standard`.

19) Define a function that gets an array as input, and returns a standardized version of the array.

20) Using `apply()` method, use the function defined in (19) to performed the task in (16), (17), and (18) in a single line.

21) Plot the histogram of the new (standardized) columns on the same axis, and compare it with the figure in (15).

---

### Extra

22) Redo exercise (20) with a function defined by `lambda`.